.animation-appear-1 {
  animation: 1s appear;
}

.animation-appear-2 {
  animation: 2s appear;
}

.animation-appear-3 {
  animation: 3s appear;
}

.animation-appear-5 {
  animation: 5s appear;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
